[user]
    name = Stanislaw Pusep
    email = creaktive@gmail.com

# https://coderwall.com/p/-89vba
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = yellow
    untracked = red
[alias]
    unstage = reset HEAD
    undopush = push -f origin HEAD^:master
[core]
    excludesfile = $HOME/.gitignore
    pager = $HOME/bin/diff-highlight | less -FRSX
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = vim
[push]
    default = matching
[merge]
    tool = vimdiff
    # Include summaries of merged commits in newly created merge commit messages
    log = true

# https://twitter.com/franckcuny/status/299653957641441280
[url "ssh://git@github.com/"]
    insteadOf = "gh:"

[preload]
    index = true
[gc]
    auto = 0
