.Trash/
.cache/
.config/
.cpan/
.cpanm/
.cpanreporter/
.cups/
.docker/
.dropbox/
.dzil/
.gnupg/
.local/
.matplotlib/
.mc/
.npm/
.parallel/
.perlbrew/
.ssh/
.tor/
.vscode/
.zsh_sessions/

@ALPHA@/
@BETA@/
@OMEGA@/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Splice/
_BACKUP_/
perl5/

.bash_history
.gitlab-api-v4-config
.lesshst
.pause
.perlreplhist
.python_history
.rainbarf.dat
.viminfo
.wget-hsts
.zcompdump-*
.zsh_history

**/*.log
**/.DS_Store
