[user]
    name = Stanislaw Pusep
    email = creaktive@gmail.com

[preload]
    index = true
[gc]
    auto = 0
[init]
    templatedir = ~/.git_template

# https://coderwall.com/p/-89vba
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = yellow
    untracked = red
[color "grep"]
    filename = bold green
    linenumber = bold yellow
    match = yellow reverse
    separator = normal
[format]
    pretty = fuller
[alias]
    unstage = reset HEAD
    undopush = push -f origin HEAD^:master
    prp = !git pull --rebase && git push
    g = grep --break --heading --line-number --context 1 --show-function
    stahp = config oh-my-zsh.hide-status 1
    po = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    pr = !git pull --rebase
    st = status
    stu = status -uno
    ds = diff --stat
    ch = checkout
    br = branch
[core]
    excludesfile = $HOME/.gitignore
    pager = $HOME/bin/diff-highlight | less -FRSX
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = vim
[push]
    default = upstream
[merge]
    tool = vimdiff
    # Include summaries of merged commits in newly created merge commit messages
    log = true
    conflictstyle = diff3

# https://twitter.com/franckcuny/status/299653957641441280
[url "ssh://git@github.com/"]
    insteadOf = "gh:"

# https://stackoverflow.com/questions/30208928/can-git-pull-automatically-stash-and-pop-pending-changes/30209750#30209750
[pull]
    rebase = true
[rebase]
    autoStash = true
