.Trash/
.cache/
.config/
.cpan/
.cpanm/
.cpanreporter/
.cups/
.docker/
.dropbox-dist/
.dropbox/
.dzil/
.gnupg/
.kube/
.local/
.matplotlib/
.mc/
.mozilla/
.npm/
.parallel/
.perlbrew/
.pulse/
.ssh/
.terminfo/
.tor/
.vscode/
.w3m/
.wine/
.zsh_sessions/

@ALPHA@/
@BETA@/
@OMEGA@/
Applications/
Calibre Library/
Desktop/
Documents/
Downloads
Dropbox
Library/
Movies/
Music/
Pictures/
Public/
Splice/
_BACKUP_

bin/fx
go/
perl5/

.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.depac.env
.fzf.bash
.fzf.zsh
.gitlab-api-v4-config
.lesshst
.mysql_history
.node_repl_history
.pause
.perlreplhist
.python_history
.rainbarf.dat
.sqlite_history
.viminfo
.wget-hsts
.zcompdump*
.zsh_history

**/*.bak
**/*.log
**/.DS_Store
