#!/usr/bin/env perl
use common::sense;
use lib 'lib';
use open ':locale';

use lexicals;

#use Data::Dumper;
use Data::Printer;
use Digest::MD5 qw(md5_hex md5_base64);
use Digest::SHA qw(sha1_hex sha1_base64);
use Encode;
use File::Slurp;
use LWP::Simple;
use List::MoreUtils ':all';
use List::Util qw(first max maxstr min minstr reduce shuffle sum);
#use MIME::Base64;
use Scalar::Util qw(blessed dualvar isweak readonly refaddr reftype tainted weaken isvstring looks_like_number set_prototype);
#use Text::CSV;
#use Tie::Handle::CSV;

load_plugin qw(
    Colors
    Completion
    CompletionDriver::Globals
    CompletionDriver::INC
    CompletionDriver::Keywords
    CompletionDriver::LexEnv
    CompletionDriver::Methods
    DataPrinter
    DumpHistory
    History
    Interrupt
    LexEnv
    ReadLineHistory
);
#Timing

say "\033]0;re.pl\007";
